# W4111-Fall-2025-002-HW2

## Instructions

__Note:__ Do not begin this homework until it is published. It is in progress.

## Written Questions

### W1

#### Question

Explain the concepts of _surrogate key_ and _natural key._ Give examples from the university database/datamodel that comes with the recommended textbook and that we have been using for examples this semester.

#### Answer

### W2

#### Question

The relational algebra is _closed_ under its operators.
1. Briefly explain what this means.
2. Give an example of the concept related to the definition of JOIN.

#### Answer

### W3

#### Question

What is the fundamental difference between a _primary key_ and a _unique key?_

#### Answer

### W4

#### Question

Briefly explain the concept of _-arity_ relative to relational operators. What are two operators for which _-arity_ is a consideration.

#### Answer

### W5

#### Question

Views are a powerful concept in relational databases. Give three main benefits of/reasons for using views.

#### Answer

### W6

#### Question

With respect to the entity relationship model, briefly explain the following concepts:
1. _Degree_
2. _Cardinality_
3. _Role_

#### Answer

### W7

#### Question

With respect to specialization/generalization, explain the concepts of:
1. _Disjoint/overlapping_
2. _Complete/incomplete_

#### Answer

### W8

#### Question

List 5 types of integrity constraint that relational databases support.

#### Answer

### W9

#### Question

What is a _weak entity?_ Give an example from the university datamodel we have been using in class.

#### Answer

### W10

#### Question

With respect to attributes in the entity relationship model, briefly explain the following concepts:
1. _Simple_ and _composite_
2. _Single valued_ and _multi-valued_
3. _Derived_

#### Answer

## ER and Modeling

### ER1

#### Question

Database and data engineering professionals often produce DB schema from ER diagrams. Translate the following, _incomplete_ Crow's Foot diagram into SQL ```CREATE TABLE``` statements. You may have to add attributes and integrity constrains to implement the model. Execute your SQL in the cell below.

| <img src="er-1.jpg"> |
| :---: |
| __ER Diagram to SQL__ |

#### Answer

In [2]:
%load_ext sql

In [3]:
# You will need to change to use your password.
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [5]:
%%sql

create schema if not exists W4111_F2025_HW2;
use W4111_F2025_HW2;

 * mysql+pymysql://root:***@localhost
1 rows affected.
0 rows affected.

[]

In [9]:
%%sql

drop table if exists Orders;
drop table if exists Customer;
drop table if exists Comment;

/*
    Place your SQL below and execute.
*/

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### ER2

#### Question

The ability to define an ER model and diagram from a text description of a data model/requirements is an important and commonly used skill. Please use Lucidchart to draw a _logical_ ER diagram representing the following model.

There are the following entity types/sets:
1. ```Department``` with the attributes:
    1. ```department_code```
    2. ```department_name```
3. ```School```
    1. ```school_code```
    2. A ```School``` may have multiple ```school_name``` properties.
5. ```Faculty```
    1. ```UNI```
    2. ```last_name```
    3. ```first_name```
    4. ```email```

There are the following relationships:
1. A ```Department``` is in/belongs to _0, 1 or many_ ```Schools```.  A ```School``` may have 0, 1 or many ```Departments```. One of the ```Schools``` associated with a ```Department``` is the _primary_ ```School``` for the ```Department```.
2. A ```Department``` has _0, 1 or many_ ```Faculty.``` A ```Faculty``` belong to _exactly one_ ```Departments.``` A ```Faculty``` has a role/position in the ```Department,``` e.g. ```Chair, Vice-Chair, Member, Emeritus, ...```

#### Answer

Replace the diagram below with your diagram.

| <img src="er-1.jpg"> |
| :---: |
| __Replace__ |

## Relational Algebra

### R1

#### Question

What is the relational model/relational algebra schema definition for the SQL following table?

```
create table if not exists db_book.classroom
(
    building    varchar(15) not null,
    room_number varchar(7)  not null,
    capacity    decimal(4)  null,
    primary key (building, room_number)
);

#### Answer

### R2

#### Question

Using the schema associated with the recommended textbook and the RelaX calculator, write a relational algebra expression that produces a relation of the form
```
(student_ID_1, student_name_1, dept_name, student_ID_2, student_name_2)
```
that contains pairs of students that are in the same department. A pair of students can only appear in the result once. Which student is student 1 and which student is student 2 is not important. Test your answer for the 'Comp. Sci.' department. The following table is my answer. The order of rows is not important.

| student_id_1 | student_name_1 | dept_name    | student_id_2 | student_name_2 |
| ------------ | -------------- | ------------ | ------------ | -------------- |
| 12345        | 'Shankar'      | 'Comp. Sci.' | 128          | 'Zhang'        |
| 54321        | 'Williams'     | 'Comp. Sci.' | 128          | 'Zhang'        |
| 54321        | 'Williams'     | 'Comp. Sci.' | 12345        | 'Shankar'      |
| 76543        | 'Brown'        | 'Comp. Sci.' | 128          | 'Zhang'        |
| 76543        | 'Brown'        | 'Comp. Sci.' | 12345        | 'Shankar'      |
| 76543        | 'Brown'        | 'Comp. Sci.' | 54321        | 'Williams'     |

### R3

#### Question

The following table is of the form ```(instructor_ID, instructor_name, dept_name, student_ID, student_name)```. The results contain instructors and the students they advise. ```student_ID``` and ```student_name``` are ```null``` if the instructor does not advise any students. Write a relational statement that produces the table for ```instructor``` in the 'Comp. Sci.' department. 

My query result is:

|instructor_ID|instructor_name|instructor.dept_name|advisor.s_id|student_ID|student_name|
|-------------|---------------|--------------------|------------|----------|------------|
|10101        |'Srinivasan'   |'Comp. Sci.'        |12345       |12345     |'Shankar'   |
|45565        |'Katz'         |'Comp. Sci.'        |128         |128       |'Zhang'     |
|45565        |'Katz'         |'Comp. Sci.'        |76543       |76543     |'Brown'     |
|83821        |'Brandt'       |'Comp. Sci.'        |null        |null      |null        |

#### Answer

<u>Statement</u>

Place the text for your statement here replacing the following.

```σ dept_name='Comp. Sci.' (instructor)```

<u>Screenshot</u>

Place a screenshot of your statements execution here.

Replace the diagram below with your diagram.

| <img src="r-question.jpg" width=700px;> |
| :---: |
| __Replace__ |

### R4

#### Question

Write a relational algebra statement that produces a relation of the form ```(ID, name, dept_name, role)```. 
- ```ID``` and ```name``` are the ID and name of a student or an instructor.
- ```dept_name``` is the person's department.
- ```role``` is instructor if the person is an ```instructor``` and ```student``` if the person is a student.

Test your  result for the 'Comp. Sci.' department. My result is below.

|ID   |name        |dept_name   |role |
|-----|------------|------------|-----|
|10101|'Srinivasan'|'Comp. Sci.'|'Instructor'|
|45565|'Katz'      |'Comp. Sci.'|'Instructor'|
|83821|'Brandt'    |'Comp. Sci.'|'Instructor'|
|128  |'Zhang'     |'Comp. Sci.'|'Student'|
|12345|'Shankar'   |'Comp. Sci.'|'Student'|
|54321|'Williams'  |'Comp. Sci.'|'Student'|
|76543|'Brown'     |'Comp. Sci.'|'Student'|

#### Answer

<u>Statement</u>

Place the text for your statement here replacing the following.

```σ dept_name='Comp. Sci.' (instructor)```

<u>Screenshot</u>

Place a screenshot of your statements execution here.

Replace the diagram below with your diagram.

| <img src="er-1.jpg" width=700px;> |
| :---: |
| __Replace__ |

## SQL

### S1

#### Question

| <img src="sql1.jpg" width=700px;> |
| :---: |
| __Faculty-Student ER Diagram__ |

The preceding diagram is an ER-diagram. There are 3 entity sets/types:
1. ```Person``` has the following properties:
    1. ```UNI```
    2. ```last_name```
    3. ```first_name```
    4. ```preferred_email``` is the person's preferred email. For example, mine might be ```dff@cs.columbia.edu.```
    5. ```default_email``` is __always__ the person's ```UNI@columbia.edu```. For example, mine is ```dff9@columbia.edu```.
2. ```Student``` __is a__ ```Person``` and has the additional attributes:
    1. ```graduation_year```
    2. ```major```
3. ```Faculty``` __is a__ ```Person``` and has the additional attributes:
    1. ```title``` and is one of the following values ```Professor, Associate Professor, Assistant Professor, Instructor```.
    2. ```department_code```

In the cell below, enter and execute DDL statements that implement the ER model in SQL. You must use the _3 table solution._ You can pick reasonable values for column types as long as you implement the constraints/rules.

#### Answer

In [5]:
%%sql

create schema if not exists W4111_F2025_HW2;
use W4111_F2025_HW2;

drop table if exists Student;
drop table if exists Faculty;
drop table if exists Person

/*
    Place your SQL here.
*/

 * mysql+pymysql://root:***@localhost
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### S2

#### Question

Using the university database, write a query that produces the following table.

| <img src="sql2.jpg" width=900px;> |
| :---: |
| __Faculty and Sections__ |

The table list information about instructors, the sections they teach and the credits for the section. There is a row for an instructor even if they do not teach any sections.

You must use _exactly one_ ```JOIN``` and __exactly one__ subquery.

#### Answer

In [6]:
%%sql

use db_book;

/*
    Place and execute your SQL below.
*/

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

### S3

#### Question

| <img src="sql3.jpg" width=900px;> |
| :---: |
| __Prereq For__ |

The preceding table shows for which courses a course is a prereq. The columns are the following:
1. ```prereq_id``` is the ID of the course.
2. ```prereq_title``` is the title of the course.
3. ```prereq_for_id``` is the ID of the course for which the given course is a prereq.
4. ```prereq_for_title``` is the title of the course for which the given course is a prereq.

```prereq_for_id``` and ```prereq_for_title``` are ```null``` if the course is not a prereq for any course.

Write and execute SQL that produces the table in the cell below.

#### Answer

In [ ]:
%%sql

### S4

#### Question

Rewrite the answer to question R4 in SQL and execute in the cell below.

#### Answer

In [1]:
%%sql